body {
    text-align: center;
}

#timer {
    width: 50%; 
    float: left;
    text-align: right;
    margin: 0px 0px 0px 0px;
}

button {
  padding: 10px;
  font-size: 24px;
  background-color: #247BA0;
  color: white;
}

#answers button {
    display: block;
    margin: 10px;
}

#submit button{
    display: block;
}

ul {
    list-style-type: none;
}

#score button{
    width: 50%;
    float: left;
}