body {
    text-align: center;
}

#score {
    width: 50%;
    float: left;
    margin: 0px 0px 0px 0px;
    text-align: left;
}

#timer {
    width: 50%; 
    float: left;
    text-align: right;
    margin: 0px 0px 0px 0px;
}

button {
  padding: 10px;
  font-size: 24px;
  background-color: #247BA0;
  color: white;
}


/* #container {
    text-align: center;
} */